.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.list-style-none {
    list-style-type: none;
}

.height-3em {
    height: 3em;
}

.width-100 {
    width: 100%;
}

.active {
    background-color: lightgreen;
    font-weight: 900;
}

.reorder-btn {
    background-color: rgb(51, 202, 252)
}

.add-btn {
    background-color: rgb(42, 232, 42);
}

.remove-btn {
    background-color: red;
}