body {
    background-color: var(--dark-body);
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    margin: 6em 1em 1em 1em;
    background-color: var(--dark-container);
    border-radius: 15px;
    padding: 1em;
}


section.photos {
    border-radius: 5px;
}

.search-bar {
    position: relative;
    z-index: 10;
    height: 2em;
    margin-bottom: 1em;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

input.search-input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 0;
    padding: 1em;
    background-color: var(--dark-body);
}

.common-search-container {
    margin-block-end: 1em;
}

.common-search {
    justify-content: space-around;
    color: white;
    background-color: var(--dark-container);
    border-radius: 30px;
    margin-inline-end: 1em;
    width: 100%;
}

.common-search, .more-btn {
    font-size: 10px;
    padding: 0.7em 0.5em;
}

.common-search> * {
    cursor: pointer;
    transition: 0.1s;
    font-weight: 900;
}

.common-search>*:hover {
    color: rgb(220,149,172);
    transform: scale(1.1);
    font-size: bold;
    
    text-decoration: underline;
}

.more-btn {
    border: 0;
    background-image: var(--header-gradient);
    color: white;
    border-radius: 30px;
    /* padding: 0.7em 0.5em; */
    width: 10%;
    cursor: pointer;
}

section.photos {
    display: grid;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.meme-img {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.meme-img:hover {
    opacity: 0.5;
}

section.photos :nth-child(odd) {
    cursor: pointer;
    grid-column: 1;
}

section.photos :nth-child(even) {
    grid-column: 2;
}

.full {
    grid-column: span 2;
}