body {
    background-color: var(--dark-body);

}

main {
    position: relative;
    display: grid;
    height: 100%;
    min-width: 24.25em;
    margin: 6em 1em 1em 1em;
    grid-template-columns: repeat(2, 1fr) ;
    background-color: var(--dark-container);
    border-radius: 15px;
    padding: 1em;
}


section.photos {
    border-radius: 5px;
}

.search-section {
    height: max-content;
}

.search-bar {
    position: relative;
    z-index: 10;
    height: 2em;
    margin-bottom: 1em;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

input.search-input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 0;
    padding: 1em;
    background-color: var(--dark-body);
}

.common-search-container {
    margin-block-end: 1em;
}

.common-search {
    justify-content: space-around;
    color: white;
    background-color: var(--dark-container);
    margin-inline-end: 1em;
    width: 100%;
}

.common-search, .more-btn {
    font-size: var(--font-size-1);
    padding: 0.7em 0.5em;
}

.common-search> * {
    cursor: pointer;
    transition: 0.1s;
    font-weight: 900;
}

.common-search>*:hover {
    color: rgb(220,149,172);
    transform: scale(1.1);
    
    text-decoration: underline;
}

.more-btn {
    border: 0;
    background-image: var(--header-gradient);
    color: white;
    border-radius: 30px;
    width: 10%;
    cursor: pointer;
    transition: 0.2s;
}

.more-btn:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    font-weight: 700;
    color: black;
}

section.photos {
    columns: 2;
    gap: 1em;
    width: 100%;
    height: 100%;

    margin-top: 2.5em;
}

section.photos > * {
    margin-bottom: 1em;
}

.meme-img {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.meme-img:hover {
    opacity: 0.5;
}

.full {
    grid-column: span 2;
}

.random-picture {
    position: absolute;
    right: 1em;
    /* border-radius: 1em; */
    padding: 0.5em 1em;
    color: white;
    border: 0;
    /* background-color: var(--dark-container); */
    font-weight: 900;
    transition: 0.2s;
}

.random-picture:hover {
    scale: 1.1;
    text-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}